.footer {
  background-color: #1B262F;
  background-image: url('../../img/footer-bg-img.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 400px 200px;
}

.footer__inner {
  padding: 31px 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  align-items: center;
}

.footer__logo-img {
  margin-right: 25px;
}

.footer__logo-link {
  margin-left: 10px;
}

.footer__logo-link:hover  path {
  fill: indianred;
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__item {
  margin-left: 40px;
}

.footer__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.footer__link:hover {
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .footer__inner {
    padding: 31px 31px;
    display: block;
    text-align: center;
  }

  .footer {
    background-color: #1B262F;
    background-image: url('../../img/footer-bg-img.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 300px 200px;
  }

  .footer__content {
    display: block;
  }

  .footer__item {
    margin-right: auto;
    margin-left: auto;
  }

  .footer__logo {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    background-color: #1B262F;
    background-image: url('../../img/bg-img-footer.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 400px 150px;
  }

  .footer__list {
    display: block;
    margin-bottom: 20px;
  }

  .footer__item {
    margin-top: 20px;
  }
}